<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
    </mat-card-header>
    <img mat-card-image src="assets/hometracker-logo.png" alt="HomeTracker Logo">
    <mat-card-content>
        <p>
            Et Epigonus quidem amictu tenus philosophus, ut apparuit, prece frustra temptata,
            sulcatis lateribus mortisque metu admoto turpi confessione cogitatorum socium,
            quae nulla erant, fuisse firmavit cum nec vidisset quicquam nec audisset penitus 
            expers forensium rerum; Eusebius vero obiecta fidentius negans, suspensus in eodem
            gradu constantiae stetit latrocinium illud esse, non iudicium clamans.
        </p>
        <p>
            Et Epigonus quidem amictu tenus philosophus, ut apparuit, prece frustra temptata,
            sulcatis lateribus mortisque metu admoto turpi confessione cogitatorum socium,
            quae nulla erant, fuisse firmavit cum nec vidisset quicquam nec audisset penitus 
            expers forensium rerum; Eusebius vero obiecta fidentius negans, suspensus in eodem
            gradu constantiae stetit latrocinium illud esse, non iudicium clamans.
        </p>
    </mat-card-content>
</mat-card>